<a href="https://colab.research.google.com/github/mollah2022/Random_Python_Code/blob/main/Untitled25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

list1 = [1,2,3,4,5,6,7,8,8,9,00]

list1

[1, 2, 3, 4, 5, 6, 7, 8, 8, 9, 0]

In [ ]:
s1 = pd.Series(list1)
s1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     8
9     9
10    0
dtype: int64

In [ ]:
car = {
    "Brand":"BMW",
    "Model":"B-2025",
    "Price":"$200k",
    "colour":"Red"
}

In [ ]:
car

{'Brand': 'BMW', 'Model': 'B-2025', 'Price': '$200k', 'colour': 'Red'}

In [ ]:
se1 = pd.Series(car)
se1

Brand        BMW
Model     B-2025
Price      $200k
colour       Red
dtype: object

In [ ]:
se2 = pd.Series(car,index=["Brand","Model"])
se2

Brand       BMW
Model    B-2025
dtype: object

In [ ]:
car1 = {
    "Brand":"BMW",
    "Model":"B-2025",
    "Price":"$200k",
    "colour":"Red",
    "Year":"2025"
}

In [ ]:
d1 = pd.DataFrame(car1,index=["Brand"])
d1

      Brand   Model  Price colour  Year
Brand   BMW  B-2025  $200k    Red  2025

In [ ]:
Random = {
    "list1" : [1,2,3,4,5,6,7,8,9],
    "list2" : [2,4,6,8,10,12,14,16,19],
    "list3" : [1,3,5,7,9,11,13,15,17],
    "list4" : [100,200,300,400,500,600,700,800,900]
}

Random
print(type(Random))

<class 'dict'>

In [ ]:
dd1 = pd.DataFrame(Random)
dd1

   list1  list2  list3  list4
0      1      2      1    100
1      2      4      3    200
2      3      6      5    300
3      4      8      7    400
4      5     10      9    500
5      6     12     11    600
6      7     14     13    700
7      8     16     15    800
8      9     19     17    900

In [ ]:
dd1.loc[0]

list1      1
list2      2
list3      1
list4    100
Name: 0, dtype: int64